#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  box-sizing: border-box;
  background-color: #eee;
}

#logo {
  height: 20px;
  width: 150px;
}

#main {
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
